Hey <%%= scope[:user].email %>,

We received a request to reset your password.

To do so, click the link below:

<%%= scope[:password_reset_url] %>

If you do not wish to change your password, disregard this message.
